@import 'bootstrap.min.css';
@import 'card.css';
@import 'main.css';
@import 'navbar.css';
@import 'footer.css';
@import 'button.css';
@import 'form.css';

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

:root {
    --text-color: rgb(33, 37, 41);
}