div#banner{ /*Image de fond*/
    position: fixed;
    background-image: url(/static/album/index-back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
}

div#filterbanner{ /*Filtre de l'image de fond*/
    position: fixed;
    background: rgba(200, 200, 200, 0.90);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

main{
    font-family: Montserrat, sans-serif;
    color: var(--text-color);
    position: relative;
    z-index: 15;
    margin-top: 5rem;
}
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column;
}

footer {
    min-height: 50px;
    position: relative;
    z-index: 15;
    margin-bottom: 1rem;
    bottom: 0;
    width: 100%;
    font-family: Montserrat, sans-serif;
    color: var(--text-color);
    text-align: center;
}
footer a {
    text-decoration: none;
}

.fill {
    flex: 1;
}

.conf {
    text-align: left;
}
.conf_edit {
    width: 100%;
    height: 100%;
    min-height: 20rem;
}

.logs {
    height: 20rem;
    overflow: auto;
}

